<!-- About Section -->
    <section id="about"  class="bg-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">About Us</h2>
                    <p class="text-justify">Data + Donuts is a monthly morning speaker series in downtown Los Angeles. Data + Donuts presentations feature the data-related work of civil servants across Los Angeles County. The events also facilitate informal connections between government agencies and promote data literacy. All government employees are welcome, and a small portion of seats are made open to the public. Representatives from the Office of LA Controller Ron Galperin, City of Los Angeles, Los Angeles County, and the Southern California Association of Governments plan each Data + Donuts event, with support from Compiler LA.</p>
                    
                    <p>
                        Notable accomplishments since our February 2017 launch:
                        <ul>
                            <li><p>Organized 19 lecture events at local venues</p></li>
                            <li><p>Featured 20 speakers from government agencies within the City of Los Angeles, County of Los Angeles, City of Riverside, and Southern California Association of Governments (SCAG).</p></li>
                            <li><p>Hosted 500+ unique attendees from dozens of government agencies and departments, universities, nonprofits, and private businesses.</p></li>
                            <li><p>Awarded the Los Angeles Excellence in Technology Award.</p></li>
                        </ul>
                        <br>
                    </p>
                    
                    <h3>Want to hear about our events? Sign up for our newsletter!</h3>
                    <br>
                    {% include mailchimp.html %}
                </div>
            </div>
        </div>
    </section>