  <footer>
        <div id="footer" class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>{{ site.title }} is organized with ❤ by the <a href="httsp://datadonuts.la">Data + Donuts</a> Team.</li>
                    </ul>
                </div>

                <div class="col-md-12">
                    <ul>
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                        <li><a href="https://twitter.com/{{ site.twitter}}">Twitter</a></li>
                        <li><a href="https://github.com/{{ site.github }}">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>