<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand page-scroll" href="#page-top">
                    <img class="navbar-logo" src="img/pink-donut-logo.png">
                    <img class="navbar-logo" src="img/schoolofdata-logo.png" alt="School of Data Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#apply">Apply Now!</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schoolofdata">Details</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#conduct">Conduct</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#venue">Venue</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About D+D</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sponsors">Sponsors</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="apply">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Data + Donuts LA presents...</div>
                <div class="intro-heading">School of Data 2019!</div>
                <div>
                    <h4 class="new-class">Thursday, January 31st - Friday, February 1st</h4>
                    <h4 class="new-class">Los Angeles, CA</h4>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2uFt9KP7b9X8_CCzR5KOaM-7mnfhI5ml5J3Orj4NBJkDRsg/viewform?usp=sf_link" class="page-scroll btn btn-xl">Apply Now!</a> 
                        
                        <p><br><em>We are committed to creating a harassment-free experience for all attendees.<br><a href="#conduct" class="page-scroll">Read about our Code of Conduct policies here.</a></em></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

