<!-- Schedule Section -->
    <section id="schedule"  class="bg-three">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    
                    <p>Take a look at our <strong><a href="https://docs.google.com/document/d/1BACmTXle6tkO2xs6BmIpTxmnwfFHcbDRcFayLYOxVns/edit?usp=sharing" target="_blank">Draft Schedule Doc</a></strong>. We believe strongly in collaboration and invite you to add your speaker and session ideas directly to the doc.  We will update this section with the details as each session is finalized.  <em>Please note - sessions are subject to change.</em></p>
                    <br>
                    <!-------------------------- THURSDAY ---------------------->
                    <h3>Day 1 - Thursday, January 31</h3><br>
                    <div class="table-responsive">
                        <table class="table table-bordered text-left">
                            <thead>
                                <tr>
                                    <th class="col-xs-3"> </th>
                                    <th class="col-xs-3 text-center" scope="col">Analyst Track</th>
                                    <th class="col-xs-3 text-center" scope="col">Systems Track</th>
                                    <th class="col-xs-3 text-center" scope="col">Manager (One Day) Track</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Breakfast & Registration<br>
                                        8:00 - 9:00am
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        --- Breakfast & Registration ---
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Welcome Remarks<br>
                                        9:00 - 9:15am
                                    </th>
                                    <td colspan="3" class="text-center">
                                        LA City Controller Ron Galperin<br>
                                        MC: Jon Neil, County of Los Angeles
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Morning Session 1<br>
                                        9:15 - 10:45am
                                    </th>
                                    <td rowspan="3">
                                        Introduction to Programming in R<br>(3 hours + 15 minute break)<br><br>
                                        <em>- Kevin Kane, SCAG</em>
                                    </td>
                                    <td>
                                        How to Make Your Future Data Scientist Love You<br><br>
                                        <em>- Sasha Laundy, Warby Parker<br>- Hunter Owens, City of Los Angeles</em>
                                    </td>
                                    <td>
                                        Dashboards in 90 Minutes<br><br>
                                        <em>- Juan Vasquez, City of Los Angeles</em>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Break<br>
                                        10:45 - 11:00am
                                    </th>
                                    <td colspan="2" class="text-center" style="vertical-align: middle;">
                                        --- Break ---
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Morning Session 2<br>
                                        11:00am - 12:30pm
                                    </th>
                                    <td>
                                        Better Dev Environments for Free Using Containers<br><br>
                                        <em>- Kegan Maher, City of Santa Monica</em>
                                    </td>
                                    <td>
                                        Data Viz 101 with Felt Cutouts<br><br>
                                        <em>- Alex Pudlin, City of Los Angeles<br>- Umi Hsu, City of Los Angeles</em>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Lunch<br>
                                        12:30 - 1:00pm
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        Catering by <a href="http://www.phocali.net">Bánh Mì Chè Cali</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Keynote<br>
                                        1:00 - 1:45pm
                                    </th>
                                    <td colspan="3" class="text-center">
                                        Data and Delivery in the Governmentv<br>
                                        <em>Leah Bannon, USDS / VA.go</em>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Break<br>
                                        1:45 - 2:00pm
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        --- Break ---
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Afternoon Session 1<br>
                                        2:00 - 3:30pm
                                    </th>
                                    <td>
                                        Geospatial Data<br><br>
                                        <em>- Andy Rutkowski, USC</em>
                                    </td>
                                    <td>
                                        To and From the ESRIverse: Using Geospatial Data Inside and Outside of the ESRIverse<br><br>
                                        <em>- John Gravois, ESRI</em>
                                    </td>
                                    <td>
                                        Demystifying Data Science 101<br><br>
                                        <em>- Hunter Owens, City of Los Angeles<br>- Kegan Maher, City of Santa Monica</em>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Break<br>
                                        3:30 - 3:45pm
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        --- Break ---
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Afternoon Session 2<br>
                                        3:45 - 5:15pm
                                    </th>
                                    <td>
                                        Presenting and Versioning Your Work in GitHub<br><br>
                                        <em>- Nathan Danielsen, Farmers Insurance<br>
                                        - Patricia Realini, GitHub</em>
                                    </td>
                                    <td>
                                        Consuming and Using APIs; Building ETL Pipelines<br><br>
                                        <em>- Dave Marulli + Chris Tull, California Data Collaborative / ARGO</em>
                                    </td>
                                    <td>
                                        Hiring Data Skills<br><br>
                                        <em>- Maksim Pecherskiy, City of San Diego<br>
                                        - Phillip LeClair, City of Pasadena<br>
                                        - Behrang Abadi, City of Santa Monica</em>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <!-------------------------- FRIDAY ---------------------->
                    <h3>Day 2 - Friday, February 1</h3><br>
                    <div class="table-responsive">
                        <table class="table table-bordered text-left">
                            <thead>
                                <tr>
                                    <th class="col-xs-3"> </th>
                                    <th class="col-xs-3 text-center" scope="col">Analyst Track</th>
                                    <th class="col-xs-3 text-center" scope="col">Systems Track</th>
                                    <th class="col-xs-3 text-center" scope="col">Electeds (One Day) Track</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Breakfast & Registration<br>
                                        8:00 - 9:00am
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        --- Breakfast & Registration ---
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Welcome Remarks<br>
                                        9:00 - 9:15am
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        Future Cities Framework - <em>Kimberly Clark, SCAG</em><br>
                                        MC: Jon Neill, County of Los Angeles
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Morning Session 1<br>
                                        9:15 - 10:45am
                                    </th>
                                    <td>
                                        Data Cleaning<br><br>
                                        <em>- Jon Schleuss, LA Times</em>
                                    </td>
                                    <td>
                                        Databases and BI<br><br>
                                        <em>- Mateo Clark, City of Austin<br>
                                        - John Clary, City of Austin</em>
                                    </td>
                                    <td>
                                        <em>To Be Confirmed</em>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Break<br>
                                        10:45 - 11:00am
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        --- Break ---
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Morning Session 2<br>
                                        11:00am - 12:30pm
                                    </th>
                                    <td>
                                        Reproducible Research in R + Shiny<br><br>
                                        <em>- Lauren Steely, MWD<br>
                                        - Robert Mitchell, Skid Row Housing Trust</em>
                                    </td>
                                    <td>
                                        Data Lakes + Data Warehouse Analytics Datastores<br><br>
                                        <em>- Jon Neill, County of Los Angeles<br>
                                        - Maksim Pecherskiy, City of San Diego</em>
                                    </td>
                                    <td>
                                        Governance and Stewardship of Public Data (Case Studies)<br><br>
                                        <em>- Mark Greninger, County of Los Angeles<br>
                                        - Toki Sadralodabai, County of Los Angeles Department of Health Services<br>
                                        - Drew Atwater, MNWD<br>
                                        - Taylor Campbell, City of LA Controller's Office (Moderator)</em>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Lunch<br>
                                        12:30 - 1:00pm
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        Catering by <a href="http://www.chineselaundrytruck.com/">Chinese Laundry</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Remarks<br>
                                        1:00 - 1:05pm
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        Dave Wesolik, County of Los Angeles Internal Services Department
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Keynote Panel<br>
                                        1:05 - 1:45pm
                                    </th>
                                    <td colspan="3" class="text-center">
                                        Data Is Policy<br>
                                        <em>Marcel Porras, City of Los Angeles<br>
                                        Additional Panelists To Be Confirmed<br>
                                        Andrew Schrock (Moderator)</em>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Lightning Talks<br>
                                        1:45 - 2:00pm
                                    </th>
                                    <td colspan="4" class="text-center">
                                        The "California Model" for Data Collaboratives - <em>Patrick Atwater, California Data Collaborative / ARGO</em><br>
                                        DocNow - <em>Andy Rutkowski</em><br>
                                        CalStreetLookup - <em>John Hickok, County of Los Angeles</em></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Afternoon Session 1<br>
                                        2:00 - 3:30pm
                                    </th>
                                    <td>
                                        Dashboard Automation with Power BI<br><br>
                                        <em>- Jessica Lam, City of Los Angeles<br>
                                        - Eric Lai, City of Los Angeles</em>
                                    </td>
                                    <td>
                                        Predictive Models in Production<br><br>
                                        <em>- Will High, Joymode / DataKind</em>
                                    </td>
                                    <td>
                                        My Data is Racist: A Crash Course in Bias and Inequality in Data Science<br><br>
                                        <em>- Patricia Realini, GitHub<br>
                                        - Leah Bannon, USDS / VA.gov</em>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Break<br>
                                        3:30 - 3:45pm
                                    </th>
                                    <td colspan="3" class="text-center" style="vertical-align: middle;">
                                        --- Break ---
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        Afternoon Session 2<br>
                                        3:45 - 5:15pm
                                    </th>
                                    <td>
                                        Building Shiny Dashboards vs Tableau/PowerBI<br><br>
                                        <em>- Lauren Steely, MWD<br>
                                        - Robert Mitchell, Skid Row Housing Trust</em>
                                    </td>
                                    <td>
                                        Simple Machine Learning: Why Model?<br><br>
                                        <em>- Ian Rose, Project Jupyter</em>
                                        </td>
                                    <td>
                                        <em>To Be Confirmed</em></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>