<!-- Schedule Section -->
    <section id="schedule"  class="bg-three">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    
                    <p>Take a look at our <strong><a href="https://docs.google.com/document/d/1BACmTXle6tkO2xs6BmIpTxmnwfFHcbDRcFayLYOxVns/edit?usp=sharing" target="_blank">Draft Schedule Doc</a></strong>. We believe strongly in collaboration and invite you to add your speaker and session ideas directly to the doc.  We will update this section with the details as each session is finalized.</p>
                    
                    <h3>Day 1 - Thursday</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="19%"> </th>
                                <th width="27%" class="text-center">Analyst Track</th>
                                <th width="27%" class="text-center">Systems Track</th>
                                <th width="27%" class="text-center">Manager (One Day) Track</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Welcome Remarks</td>
                                <td colspan="3">Welcome Remarks<br><em>Ron Galperin, LA City Controller</em></td>
                            </tr>
                            <tr>
                                <td>Morning Session 1</td>
                                <td rowspan="2">Introduction to Programming in R<br>(3 hours)</td>
                                <td>How to Make Your Future Data Scientist Love You</td>
                                <td>Dashboards in 90 Minutes</td>
                            </tr>
                            <tr>
                                <td>Morning Session 2</td>
                                <td>Better Dev Environments for Free Using Containers</td>
                                <td>Data Viz 101 with Felt Cutouts</td>
                            </tr>
                            <tr>
                                <td>Lunch/Keynote</td>
                                <td colspan="3">Data and Delivery in the Government<br><em>Leah Bannon, USDS/VA.gov</em></td>
                            </tr>
                            <tr>
                                <td>Afternoon Session 1</td>
                                <td><em>TBD</em></td>
                                <td>To and From the ESRIverse: Using Geospatial Data Inside and Outside of the ESRIverse</td>
                                <td>Demystifying Data Science 101</td>
                            </tr>
                            <tr>
                                <td>Afternoon Session 2</td>
                                <td><em>TBD</em></td>
                                <td>Consuming and Using APIs; Building ETL Pipelines</td>
                                <td>Hiring Data Skills</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Day 2 - Friday</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="19%"> </th>
                                <th width="27%" class="text-center">Analyst Track</th>
                                <th width="27%" class="text-center">Systems Track</th>
                                <th width="27%" class="text-center">Electeds (One Day) Track</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Opening Remarks</td>
                                <td colspan="3"><em>TBD</em></td>
                            </tr>
                            <tr>
                                <td>Keynote Panel</td>
                                <td colspan="3">Data Is Policy</td>
                            </tr>
                            <tr>
                                <td>Morning Session 1</td>
                                <td>Data Cleaning</td>
                                <td><em>TBD</em></td>
                                <td><em>TBD</em></td>
                            </tr>
                            <tr>
                                <td>Morning Session 2</td>
                                <td>Reproducible Research in R + Shiny</td>
                                <td><em>TBD</em></td>
                                <td>Governance and Stewardship of Public Data (Case Studies)</td>
                            </tr>
                            <tr>
                                <td>Lunch/Lightning Talks</td>
                                <td colspan="3"><em>TBD</em></td>
                            </tr>
                            <tr>
                                <td>Afternoon Session 1</td>
                                <td>Dashboard Automation with Power BI</td>
                                <td>Predictive Models in Production</td>
                                <td>My Data is Racist: A Crash Course in Bias and Inequality in Data Science</td>
                            </tr>
                            <tr>
                                <td>Afternoon Session 2</td>
                                <td>Building Shiny Dashboards vs Tableau/PowerBI</td>
                                <td>Simple Machine Learning: Why Model?</td>
                                <td><em>TBD</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>