<!-- School of Data Section -->
    <section id="schoolofdata"  class="bg-four">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h2 class="section-heading text-center">What is School of Data?</h2>
                    <p>We’ve been hinting at it for so long and working so hard to make it happen - we’re super excited to announce that applications are now open for School of Data LA! Applications help us make sure we represent a diverse audience of as many agencies and departments as possible as we only have 100 seats available.</p>
                    <p>Data + Donuts’ School of Data LA is a two-day conference and training event happening Thursday and Friday, January 31 and February 1, 2019 at SCAG in Downtown LA. School of Data LA brings together government data analysts, systems analysts, and project managers to address their biggest needs: to improve analytical skills, and to learn from peers across the Southern California region. The School of Data LA programming is driven by community feedback and includes keynotes, workshops, and lightning talks moderated and led by regional government employees who work with data. We believe that building a community of data literacy leads to better service in government.</p>
                    <p>Our inaugural School of Data LA conference is designed to support civil servants who’d like to improve their data-related work. School of Data LA covers the skills and vocabulary needed to confidently navigate the world of data – everything from documenting metadata, to navigating systems, to managing predictive analytics projects.</p>
                    
                    <p><strong>Attendence is FREE with breakfast and lunch provided by our wonderful sponsors!</strong></p>
                    <br>
                    <h3 class="text-center">Three tracks for attendees to choose from:</h3>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 text-justify">
                   <h4 class="text-center">Analyst</h4><br>
                   <p>Analysts use Excel to deliver reports to management. Explore how to automate your work using tools and workflows such as Shiny Dashboard, Tableau, and Power BI. Attendees will learn or practice using R to generate reproducible research and reporting on their desktops. 
                    </p>
                </div>
                <div class="col-lg-4 col-sm-12 text-justify">
                    <h4 class="text-center">Systems</h4><br>
                    <p>Systems users have large databases. Explore how to plan for future analyses with your data and how to build good data systems. Attendees may manage data in a SQL Data Warehouse or on an ArcGIS Server, deal with new large data sources, or manage data and data products at scale. Attendees will learn or practice using Python.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-12 text-justify">
                    <h4 class="text-center">Manager/Electeds</h4><br>
                    <p>Managers and Electeds are building teams that use data. Explore how to design and resource your data teams, hire for data skills, prioritize and budget for large data projects and initiatives, and navigate when to contract out for data work. No laptops or coding required.
                    </p>
                </div>
            </div>
            <div class="row" id="conduct">
                <br><br><br>
                    <div class="alert" style="background: #333; color: #eee;" role="alert">
                      <h2 class="text-center">Code of Conduct</h2>
                      <h3>The Short Version</h3>
                      <p>We are dedicated to providing a harassment-free experience for everyone. We do not tolerate harassment of participants in any form. Participants violating these rules may be sanctioned or expelled at the discretion of the organizers.
                      </p>
                      
                      <p>If someone makes you or anyone else feel unsafe or unwelcome, please report it as soon as possible to the organizers at: <a href="mailto:vyki@compiler.la">vyki@compiler.la</a>, so that we can make this a valuable event for all.</p>
                      
                      <h3>The Long Version</h3>
                      <p>We are dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion (or lack thereof). We do not tolerate harassment of participants in any form. Sexual language and imagery is not appropriate for any conference venue (including talks, workshops, social settings, as well as online media such as Twitter). Participants violating these rules may be sanctioned or expelled at the discretion of the organizers.
                      </p>
                      
                      <p>Harassment includes, but is not limited to:
                          <ul>
                              <li><p>Verbal comments that reinforce social structures of domination related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, or religion (or lack thereof).</p></li>
                              <li><p>Sexual images in public spaces.</p></li>
                              <li><p>Deliberate intimidation, stalking, or following.</p></li>
                              <li><p>Harassing photography or recording.</p></li>
                              <li><p>Sustained disruption of talks or other events.</p></li>
                              <li><p>Inappropriate physical contact.</p></li>
                              <li><p>Unwelcome sexual attention.</p></li>
                              <li><p>Advocating for, or encouraging, any of the above behaviour.</p></li>
                          </ul><br>
                      </p>
                      
                      <h4>Enforcement</h4>
                      <p>Participants asked to stop any harassing behavior are expected to comply immediately.
                      </p>
                      
                      <p>
                      If a participant engages in harassing behaviour, event organisers retain the right to take any actions to keep the event a welcoming environment for all participants. This includes warning the offender or expulsion from the event.<br><br></p>
                      
                      <h4>Reporting</h4>
                      <p>If someone makes you or anyone else feel unsafe or unwelcome, please report it as soon as possible to the organizers at: <a href="mailto:vyki@compiler.la">vyki@compiler.la</a>. Harassment and other code of conduct violations reduce the value of our event for everyone. We want you to be happy at our event. People like you make our event a better place.<br><br></p>
                      
                      <p>
                          <em>Modified based on these original sources:
                          <br>- <a href="http://confcodeofconduct.com/">http://confcodeofconduct.com/</a> (licensed under a <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>)
                          <br>- <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy</a>
                          <br>This policy is licensed under the <a href="https://creativecommons.org/about/global-affiliate-network/">Creative Commons Zero license</a>.</em>
                      </p>
                    </div>
            </div>
        </div>
    </section>