<!-- School of Data Section -->
    <section id="schoolofdata"  class="bg-four">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h2 class="section-heading text-muted text-center">What is School of Data?</h2>
                    <p>We’ve been hinting at it for so long and working so hard to make it happen - we’re super excited to announce that applications are now open for School of Data LA! Applications help us make sure we represent a diverse audience of as many agencies and departments as possible as we only have 100 seats available.</p>
                    <p>Data + Donuts’ School of Data LA is a two-day conference and training event happening Thursday and Friday, January 31 and February 1, 2019 at SCAG in Downtown LA. School of Data LA brings together government data analysts, systems analysts, and project managers to address their biggest needs: to improve analytical skills, and to learn from peers across the Southern California region. The School of Data LA programming is driven by community feedback and includes keynotes, workshops, and lightning talks moderated and led by regional government employees who work with data. We believe that building a community of data literacy leads to better service in government.</p>
                    <p>Our inaugural School of Data LA conference is designed to support civil servants who’d like to improve their data-related work. School of Data LA covers the skills and vocabulary needed to confidently navigate the world of data – everything from documenting metadata, to navigating systems, to managing predictive analytics projects.</p>
                    
                    <p><strong>Attendence is FREE with breakfast and lunch provided by our wonderful sponsors!</strong></p>
                    <h3 class="text-muted">Tracks</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 text-justify">
                    <p>
                       <h4 class="text-center">Analyst</h4><br>
                       Analysts use Excel to deliver reports to management. Explore how to automate your work using tools and workflows such as Shiny Dashboard, Tableau, and Power BI. Attendees will learn or practice using R to generate reproducible research and reporting on their desktops. 
                    </p>
                </div>
                <div class="col-lg-4 col-sm-12 text-justify">
                    <p>
                       <h4 class="text-center">Systems</h4><br>
                       Systems users have large databases. Explore how to plan for future analyses with your data and how to build good data systems. Attendees may manage data in a SQL Data Warehouse or on an ArcGIS Server, deal with new large data sources, or manage data and data products at scale. Attendees will learn or practice using Python.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-12 text-justify">
                    <p>
                       <h4 class="text-center">Manager/Electeds</h4><br>
                       Managers and Electeds are building teams that use data. Explore how to design and resource your data teams, hire for data skills, prioritize and budget for large data projects and initiatives, and navigate when to contract out for data work. No laptops or coding required.
                    </p>
                </div>
            </div>
        </div>
    </section>